{% extends 'base.html.twig' %}

{% block body %}


{% for message in app.flashes('message') %}
    <div class="alert alert-success">
        <h3>{{ message }}</h3>
    </div>
{% endfor %}

<!-- Contact section -->
	<section class="contact-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 p-0">
					<!-- Map -->
					<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4288.135616124276!2d-8.044630384459294!3d31.58874905092228!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdafef33ca820fc1%3A0x13922be7a26eae8d!2sBoulangerie%20Ighli%207!5e1!3m2!1sen!2sbd!4v1650043337181!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
				</div>
				<div class="col-lg-6 p-0">
					<div class="contact-warp">
						<div class="section-title mb-0">
							<h2>Waiter contact</h2>
						</div>
						<p>Do you have anything in mind? please let us know, we are at your service </p>
						{{ form(emailForm) }}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog section end -->

{% endblock %}
